@font-face {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/raleway/raleway-800.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik/rubik-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik/rubik-700.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/rubik/rubik-800.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}


body {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  box-sizing: border-box;
  margin: 0;
  font-family: "Rubik", sans-serif;
  font-size: 18px;
  line-height: 30px;
  color: #000000;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.button {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 3.6px;
  color: #000000;
}

.page-header {
  display: flex;
  flex-direction: column;
  width: 1160px;
  margin: 0 auto;
  padding-right: 60px;
  padding-left: 60px;
  background-color: #FFE17F;
  font-size: 16px;
  line-height: 19px;
}

.page-header a {
  color: #000000;
  text-decoration: none;
}

.page-header-center {
  display: flex;
}

.search {
  width: 500px;
}

.search-input {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
}

.account-list {
  width: 500px;
  margin: 0;
  margin-left: auto;
  padding: 0;
}

.navigation-list {
  margin: 0;
  padding: 0;
}

.main-catalog-link,
.navigation-service-link {
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  letter-spacing: 3.7px;
}

.navigation-main {
  display: flex;
}

.navigation-main-catalog {
  width: 300px;
}

.navigation-services-list {
  width: 500px;
  margin-left: auto;
}

.navigation-main-column-list a {
  line-height: 18px;
}

.general-title {
  font-family: "Raleway", sans-serif;
  font-size: 50px;
  line-height: 50px;
}

.main-container {
  flex-grow: 1;
}

.page-container {
  width: 1160px;
  margin: 0 auto;
}

.slider {
  display: flex;
  justify-content: space-between;
}

.slider-image-block {
  width: 560px;
}

.slider-about-block {
  width: 560px;
}

.slider-specs-value {
  font-size: 36px;
  font-weight: 400;
  line-height: 30px;
}

.slider-specs-name {
  font-size: 16px;
}

.navigation-secondary-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.navigation-secondary-item {
  width: 160px;
}

.navigation-secondary-image-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 160px;
  background-color: #FFE17F;
}

.navigation-monopods-image {
  align-self: end;
}

.navigation-secondary-link {
  display: inline-block;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: -0.3px;
  text-decoration: none;
  color: #000000;
}

.service {
  background-color: #F0F0F0;
}

.service-container {
  display: flex;
}

.service-list {
  width: 280px;
  margin: 0px;
  padding: 0px;
}

.service-link {
  width: 160px;
  letter-spacing: 2px;
}

.service-info {
  width: 500px;
  margin-left: 120px;
}

.service-info-title {
  margin: 0;
  padding: 0;
}

.service-btn-active .button {
  color: #FFE17F;
  background-color: #000000;
}

.delivery {
  background-color: #F0F0F0;
}

.delivery-link {
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  line-height: 23px;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  color: #000000;
}

.index-columns {
  display: flex;
}

.about {
  width: 500px;
  margin-right: 100px;
}

.about-transport-item {
  font-weight: 700;
  line-height: 20px;
}
.contacts {
  width: 560px;
}

.contacts-subtitle {
  font-size: 24px;
  font-weight: 700;
}

.contacts-address {
  font-style: normal;
}

.contacts-phone {
  color: #000000;
}

.subscribe {
  background-color: #F0F0F0;
}

.subscribe-container {
  display: flex;
  flex-direction: column;
}

.subscribe-wrapper-top {
  display: flex;
}

.subscribe-title {
  width: 360px;
  margin: 0;
}

.subscribe-text {
  width: 560px;
  margin-left: auto;
}

.subscribe-wrapper-bottom {
  display: flex;
}

.subscribe-input {
  width: 600px;
}

.subscribe-btn {
  width: 260px;
}

.subscribe-info {
  margin-left: auto;
}

.inner-header {
  padding-left: 60px;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #000000;
  opacity: 0.6;
}

.catalog-section {
  font-size: 16px;
  line-height: 19px;
}

.catalog-container {
  display: flex;
}

.catalog-filter-title {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  text-transform: uppercase;
  background-color: #DCDCDC;
}

.catalog-filter-form {
  width: 330px;
  padding-left: 60px;
  padding-right: 70px;
  margin-right: 70px;
  background-color: #EBEBEB;
}

.catalog-filter-legend {
  font-size: 18px;
  line-height: 20px;
  font-weight: 700;
}

.range-toggle {
  font-size: 15px;
  line-height: 18px;
  opacity: 0.3;
}

.catalog-right-column {
  width: 760px;
}

.sorting-type {
  background-color: #EBEBEB;
}

.sorting-label {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
}

.select-control {
  font-family: "Rubik", sans-serif;
  font-size: 16px;
  line-height: 19px;
}

.product-card-link {
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-decoration: none;
  color: #000000;
}

.product-card-price {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #444444;
}

.pagination-show-more {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  text-decoration: none;
  color: #000000;
  border: 3px solid rgba(0, 0, 0, 0.1);
}

.pagination {
  background-color: #EBEBEB;
}

.pagination-link {
  font-size: 16px;
  line-height: 19px;
  text-decoration: none;
  color: #444444;
}

.pagination-prev,
.pagination-next {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  color: #000000;
}

.page-footer {
  background-color: #444444;
  color: #FFFFFF;
}

.page-footer-container {
  display: flex;
  flex-direction: column;
}

.footer-middle {
  display: flex;
  justify-content: space-between;
}

.footer-address {
  width: 240px;
}

.footer-address-phone {
  text-align: right;
}

.footer-address-text {
  margin: 0;
  font-size: 16px;
  line-height: 19px;
  font-style: normal;
}

.footer-service-list {
  width: 500px;
  margin: 0;
  padding: 0;
}

.footer-service-item {
  margin-right: 5px;
  text-align: center;
}

.footer-service-item:last-child {
  margin-right: 0;
}

.footer-service-link {
  display: inline-block;
  width: 150px;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  letter-spacing: 3.6px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
}

.footer-contacts-phone {
  font-size: 16px;
  font-style: normal;
  text-decoration: none;
  color: #FFFFFF;
}

.footer-bottom {
  display: flex;
}

.footer-social-list {
  display: flex;
  margin: 0 auto;
  padding-left: 115px;
}
